@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    @* <button class="btn btn-primary" style="margin-top: 20px;" onclick="location.href='@Url.Action("OauthRedirect", "Home")'">
        Sign In
    </button> *@

<button class="btn btn-primary" style="margin-top: 20px;" onclick="location.href='@Url.Action("GoogleAuth", "Home")'">
        Sign In
    </button>

<button class="btn btn-primary" style="margin-top: 20px;" onclick="location.href='@Url.Action("RevokeToken", "OAuth")'">
        Revoke Token
    </button>

    <button class="btn btn-primary" style="margin-top: 20px;" onclick="location.href='@Url.Action("RefreshToken", "OAuth")'">
        Refresh Token
    </button>

<form  method="post" action="CalendarEvent/CreateEvent">
        <label for="Summary">Summary:</label>
        <input type="text" id="Summary" name="Summary" required><br><br>
        
        <label for="Description">Description:</label>
        <input type="text" id="Description" name="Description" required><br><br>
        
        <label for="Start.DateTime">Start:</label>
        <input type="datetime" id="Start" name="Start.DateTime" required><br><br>
        
        <label for="End.DateTime">End:</label>
        <input type="datetime" id="End" name="End.DateTime" required><br><br>

        <input type="submit" value="submit" class="btn btn-primary" />
    </form>


</div>

